<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vaccination Management System</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css'%}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Function Based View ModelForm CRUD Project</h2>
    {% block content %} {% endblock content %}
</div>
<script src="{% static 'myapp/js/jquery.js' %}"></script>
<script src="{% static 'myapp/js/popper.js' %}"></script>
<script src="{% static 'myapp/js/bootstrap.js' %}"></script>
</body>
</html>